{% extends "base.html" %} {% load static %} {% block corejs%}
<script src="/static/events.js" defer></script>
{% endblock %} {% block content %}
<main class="events">
  <h2 class="events__heading">Find Events Near You</h2>
  <p class="events__text">
    We hold many different events throughout the year that are open to members
    and their family/friends. You can browse the events below and logged in
    members can book themselves a place.
  </p>
  <button onclick="toggle('browseMap')" id="browseMap" class="btn__primary">
    Browse the Map
  </button>
  <div class="events__map closed" id="eventsMap"></div>
  <div class="events__accordion"></div>
  {% for event in events %}
  <div
    class="events__accordion-top"
    onclick="toggle('event{{ event.id }}')"
    id="event{{ event.id }}"
  >
    <h3 class="events__title">{{ event.title }}</h3>
    <h4>{{ event.datetime }}</h4>
  </div>
  <div class="events__accordion-content closed">
    <img
      class="events__image"
      src="/media/{{ event.photo }}"
      alt="{{ event.title }}"
    />
    <h5 class="events__location">{{ event.location }}</h5>
    <p class="events__description">{{ event.description }}</p>
  </div>
  {% endfor %}
</main>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6QlLGYsM2YvkHcq6pps2i_BRDMV4Wyo&callback=initMap&libraries=&v=weekly"
  async
  defer
></script>

{% endblock %}
