{% extends "base.html" %} {% load static %} {% block corejs%}
<script src="/static/events.js" defer></script>
{% endblock %} {% block content %}
<main class="events">
  <div class="events__map" id="eventsMap"></div>
  <div class="events__accordion"></div>
  {% for event in events %}
  <div
    class="events__accordion-top"
    onclick="toggle('event{{ event.id }}')"
    id="event{{ event.id }}"
  >
    <h3 class="events__title">{{ event.title }}</h3>
    <h4>{{ event.datetime }}</h4>
    <h5 class="events__location">{{ event.location }}</h5>
  </div>
  <div class="events__accordion-content closed">
    <img
      class="events__image"
      src="/media/{{ event.photo }}"
      alt="{{ event.title }}"
    />
    <p class="events__description">{{ event.description }}</p>
  </div>
  {% endfor %}
</main>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6QlLGYsM2YvkHcq6pps2i_BRDMV4Wyo&callback=initMap&libraries=&v=weekly"
  async
  defer
></script>

{% endblock %}
