{% extends "base.html" %} {% load static %} {% block corejs%}
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/static/gallery.js" defer></script>
{% endblock %} {% block content %}
<!-- Search by title or description -->
<main id="gallery">
  <h2 class="gallery__heading">Historical Photo Gallery</h2>
  <p class="gallery__text">
    Search through our collection of photos and see if you can spot any familiar
    faces/locations. Search for something in particular or filter by location or
    year. Click on each photo for a full description.
  </p>
  <form class="gallery__search-form" action="{% url 'gallery' %}" method="GET">
    <input
      class="gallery__search-input"
      type="text"
      aria-label="Search"
      name="q"
    />
    <input class="gallery__btn btn__primary" type="submit" value="Search" />
    <!-- Filter by Location -->
    <div class="gallery__dropdown">
      <button
        onclick="toggle('dropdownLocation')"
        class="gallery__btn btn__primary"
        type="button"
        id="dropdownLocation"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Filter by Location
      </button>
      <ul class="gallery__dropdown-list closed">
        {% for image in location_values %}
        <li class="gallery__dropdown-list-item">
          <a href="{% url 'gallery' %}?location={{ image.location }}"
            >{{ image.location }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Filter by Year -->
    <div class="gallery__dropdown">
      <button
        onclick="toggle('dropdownYear')"
        class="gallery__dropdown-btn btn__primary"
        type="button"
        id="dropdownYear"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Filter by Year
      </button>
      <ul class="gallery__dropdown-list closed">
        {% for image in year_values %}
        <li class="gallery__dropdown-list-item">
          <a href="{% url 'gallery' %}?year={{ image.year }}"
            >{{ image.year }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Sort -->
    <div class="gallery__dropdown">
      <button
        onclick="toggle('dropdownSort')"
        class="gallery__dropdown-btn btn__primary"
        type="button"
        id="dropdownSort"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Sort By Year
      </button>
      <ul class="gallery__dropdown-list closed">
        <li class="gallery__dropdown-list-item">
          <a
            class="dropdown-item"
            href="{% url 'gallery' %}?sort=year&direction=asc"
            >Oldest</a
          >
        </li>
        <li class="gallery__dropdown-list-item">
          <a
            class="dropdown-item"
            href="{% url 'gallery' %}?sort=year&direction=desc"
            >Most Recent</a
          >
        </li>
      </ul>
    </div>
    <!-- Clear -->
    <p>Showing {{ image_count }} photos</p>

    <p>{% if filter_location %} from {{ filter_location }} {% endif %}</p>

    <div class="gallery__clear-btn">
      <a class="btn__secondary" href="{% url 'gallery' %}"
        >Clear Search Results</a
      >
    </div>
  </form>

  <section class="gallery__container">
    {% for image in images %}
    <div class="gallery__single-container" onclick="toggle('modal')" id="modal">
      <div>
        <img
          class="gallery__image"
          src="/media/{{ image.image }}"
          alt="{{ image.title }}, {{ image.year }}"
        />
      </div>
      <h4>
        {{ image.title }} {% if image.year %} ({{ image.year }}) {% endif %}
      </h4>
    </div>

    <!-- Modal -->
    <div class="modal closed" onclick="toggle('modal')">
      <article class="modal__content">
        <h3>
          {{ image.title }} {% if image.year %} ({{ image.year }}) {% endif %}
        </h3>
      </article>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
