{% extends "base.html" %}
{% load static %}

{% block content%}
<!-- Search by title or description -->
<form class="search-form" action="{% url 'gallery' %}" method="GET">
    <input class="search-input" type="text" aria-label="Search" name="q">
    <input class="search-btn" type="submit" value="Search">
</form>
<!-- Filter by Location -->
<button class="dropdown-btn" type="button" id="dropdownLocation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Location</button>

<!-- Filter by Year -->
<button class="dropdown-btn" type="button" id="dropdownYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Year</button>

<!-- Sort -->
<button class="dropdown-btn" type="button" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>

<span class="result-count"></span>
{% for image in images %}
<img class="image" src="/media/{{ image.image }}" alt="{{ image.title }}, {{ image.year }}">
{% endfor %}

{% endblock %}