.btn {
    &__action {
        border: 2px solid var(--primary-2);
        border-radius: 10px;
        background-image: var(--gradient-3);
        color: var(--primary-2);
        text-align: center;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        &:hover {
            border-color: var(--primary-3);
            color: var(--primary-3);
            background-image: var(--gradient-2);
        }
    }

    &__primary {
        border-color: var(--primary-2);
        border-radius: 5px;
        padding: 0.5rem;
        background-color: var(--primary-1);
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: var(--primary-1);
        }
    }

    &__secondary {
        border-color: var(--primary-2);
        border-radius: 5px;
        padding: 0.5rem;
        background-color: #ffffff;
        color: var(--primary-1);
                
        &:hover {
            background-color: var(--primary-1);
            color: #ffffff;
        }
    }
}