#eventsMap {
  height: 70vh;
  width: 100%;

  &.closed {
    display: none;
  }
}

.events {
  text-align: center;
}

.accordion {
  &__top {
    border-radius: 0;
    border: 1px solid var(--primary-2);
  }

  &__content {
    border: 1px solid var(--primary-2);
    background-color: var(--primary-2-tint);

    &.closed {
      display: none;
    }
  }
}
