.header {
    background-image: var(--heading-background);
    text-align: center;
    padding: 2rem 1rem;

    &__logo-image {
        width: 75%;
    }

    &__text {
        color: #ffffff;
    }
}