.header {
    background-image: var(--gradient-1);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__link {
        width: 50%;
    }

    &__logo-image {
        width: 75%;
    }

    &__text {
        color: #ffffff;
    }
}