.main {
  display: flex;
  flex-flow: row wrap;
}

.welcome-image {
  background-color: var(--primary-1-tint);
  width: 100%;

  &__text {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.join-us {
  background-color: var(--primary-2-tint);
}

.benefits {
  background-color: var(--primary-1-tint);

  &__list-item {
    padding: 1rem 0.5rem;
  }

  &__list {
    padding-bottom: 1rem;
  }
}

.testimonials {
  background-color: var(--primary-2-tint);

  &__list {
    margin-top: 1rem;
  }

  &__list-item {
    padding: 1rem 0.5rem;
  }
}

@media all and (min-width: 720px) {
  .join-us,
  .benefits,
  .testimonials {
    flex: 3;
    border-top: 1px solid var(--primary-1);
  }
}
