{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block meta %}
    <meta http-equiv="X-UA_Compatible" content="ie=edge"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block corecss%}
<link href="{% static 'scss/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs%}
{% endblock %}

{% block extra_js %}
{% endblock %}

    <title>RPOAS Lanarkshire</title>
</head>
<body>
    <header class="header">
        <a class="header__logo-link" href="#">
            <img class="header__logo-image" src="/media/rpoas_logo.png" alt="RPOAS Logo">
        </a>
        <h1 class="header__text">Retired Police Officers' Association Lanarkshire</h1>
        <a class="banner__link" href="#">
            <h2 class="banner_text btn">Join our RPOAS family today</h2>
        </a>
    </header>

{% if messages %}
    <section class="message-container">

    </section>
{% endif %}    

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}


    <footer class="footer">
        <a class="footer__link" href="#">
            <img class="footer__logo" src="/media/rpoas_logo.png" alt="RPOAS Scotland">
            <span class="footer__text">RPOAS Scotland</span>
        </a>
        <a class="footer__link" href="#">
            <img class="footer__logo" src="" alt="RPOAS Lanarkshire Facebook">
            <span class="footer__text">RPOAS Lanarkshire Facebook</span>
        </a>
        <a class="footer__link" href="#">
            <img class="footer__logo" src="" alt="RPOAS Lanarkshire Email">
            <span class="footer__text">RPOAS Lanarkshire Email</span>
        </a>
        <a class="footer__link" href="#">
            <img class="footer__logo" src="/media/lphsbadge.png" alt="Lanarkshire Police Historical Society">
            <span class="footer__text">Lanarkshire Police Historical Society</span>
        </a>
    </footer>

{% block postloadjs %}
{% endblock %}

</body>
</html>