body {
    font-family: var(--font-body);
    color: var(--primary-1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
}

p, span {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

ul a {
    font-weight: bold;
    color: var(--primary-1);
}

ul a:hover {
    font-weight: bold;
    text-decoration: underline;
}

section {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

